
{%extends "base.html"%}

{%block head%}
  <title>Welcome!</title>
  <style>
    .homebtn {
      display: none;
    }
  </style>
{% endblock %}
<head>
  <style>
    .homeBtn {
      display: none;
    }
  </style>
</head>

{%block content%}
<body>
<div class="bg2">
  <div class="content">
    <h1>Welcome to Eco Eats</h1>
    <p>Find numerous zero-waste recipes by just scanning your receipt
    </p>
    <form method="post" enctype="multipart/form-data">
      <input class="button" type="file" name="file"></input>
      <input class="button" type="submit" value="Upload"></input>
    </form>
  
  <h4 style="color:red">{{ msg }}</h4>

</div>
<div class="progress-bar" data-label="Loading..."> </div>
</body>
{%endblock%}

</html>