{% extends "base.html" %}

{%block title%}Recipes!{% endblock %}

{% block content %}
<style>
    .banner{
        background-image: linear-gradient(rgb(252, 204, 204),rgb(255, 219, 219));
    }
</style>

<div class="content_display">
            <div class="receipt">
            <h2 class="h2f">Matching Ingredients: </h2>
            {% for item in ingredient %}
                <h3 class="h3f">{{item.name}}</h3>
                <a href="{{item.url}}" target="_blank">Link: {{item.url}}</a>
                <br/><br/>
            {% endfor %}
            </div>
</div>
{% endblock %}